#title{
    width: 100%;
}

div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    & .upper{
        display: flex;
        flex-direction: row;
        height: 50%;
        & .monitor{
            height: 100%;
            width: 70%;
        }
        & .stuff{
            height: 100%;
            width: 30%;
        }

    }
    & .lower{
        display: flex;
        flex-direction: row;
        height: 50%;
        & .grid{
            height: 100%;
            width: 50%
        }

        & .ath{
            height: 100%;
            width: 50%
        }
    }
}
