<div>
    <div class="upper">
        <div class="stuff">
            <stuff></stuff>
        </div>
        <div class="monitor">
            <monitor></monitor>
        </div>
    </div>
    <div class="lower">
        <div class="grid">
            <grid></grid>
        </div>
        <div class="ath">
            <ath></ath>
        </div>
    </div>
</div>
