:host{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.xp_container, .life_container, .res_container{
    width: 80%;
    height: 25px;
    background: black;
    color:white;
    position: relative;
    z-index: 5;
}

.xp{

    height: 25px;
    background: green;
    position: absolute;
    z-index:  1;
}

.life{

    height: 25px;
    background: red;
    position: absolute;
    z-index: 2 ;
}

.ressource{

    height: 25px;
    background: blue;
    position: absolute;
    z-index: 3 ;
}

.advancement{
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4 ;
}

