{{ hero.pseudo }}<br>
{{ hero.gold }} gold<br>
Niveau {{ hero.level}}<br>
<div class="life_container">

    <div class="life" [ngStyle]="{'width': lifeToPercentage(hero)}">
    </div>
    <span class="advancement">
        {{ hero.health }}/100
    </span>
</div>
<div class="res_container">
    <div class="ressource" [ngStyle]="{'width': ressourceToPercentage(hero)}">
    </div>
    <span class="advancement">
        {{hero.ressource}}/100
    </span>
</div>
<div class="xp_container">

    <div class="xp" [ngStyle]="{'width': xpToPercentage(hero)}">

    </div>
    <span class="advancement">
        {{hero.current_xp}}/{{hero.total_xp}}
    </span>
</div>
<img src="./assets/game/{{ hero.hero_class }}_walk_right.gif"><br>
<button (click)="playHero(hero.id,hero)">Play</button>
<button (click)="deleteHero(hero.id,hero.user_id)">Delete</button>