Click and Loot c'est quoi ? Découvre le grâce à ce petit clipart animé ;p !! Enjoy !!!
<video width="20%" height="90%" controls>
    <source src="../assets/movie.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
</video>
