h1{
    margin: 0;
}

.title{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroes{
    height: 55%;
    display: flex;
    justify-content: center;
}

.form{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}