div{
    width: 200px;
    height: 200px;
    & div{
        height: 10%;
        width: 100%;
        display: flex;
        & div{
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}

#title{
    width: 100%;
    text-align: center;
}

.fight{
    background: red;
}

.empty{
    background: green;
}

.discovered{
    background: yellow;
}

.nothing{
    background: black;
}

.hero{
    background: blue;
}

:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}