{{ map.name }}
<div>
    <div *ngFor="let line of map.grid">
        <div *ngFor="let cell of line">
          <div [ngClass]="{
          'fight': cell == 1,
          'empty': cell == 2,
          'discovered': cell == 3,
          'hero': cell == 4,
          'nothing': cell == 0}">
          </div>
        </div>
    </div>
</div>

