<div class="container">
    <div class="upper">
        <stuff-item *ngFor="let item of filterItems(7)" [item]="item"></stuff-item>
    </div>
    <div class="upper_middle">
        <stuff-item *ngFor="let item of filterItems(13)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(8)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(5)" [item]="item"></stuff-item>
    </div>
    <div class="middle">
        <stuff-item *ngFor="let item of filterItems(3)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(6)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(4)" [item]="item"></stuff-item>
    </div>
    <div class="middle_lower">
        <stuff-item *ngFor="let item of filterItems(11)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(10)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(12)" [item]="item"></stuff-item>
    </div>
    <div class="lower">
        <stuff-item *ngFor="let item of filterItems(1)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(9)" [item]="item"></stuff-item>
        <stuff-item *ngFor="let item of filterItems(2)" [item]="item"></stuff-item>
    </div>
</div>