.forms{
    display: flex;
    height: 55%;
    width: 100%;
}

.title{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 15%;
}

.video{
    height: 30%;
}

h1{
    margin: 0;
}