:host{
    display: block;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 80%;
    & h1{
        margin: 0;
    }
}