<form [formGroup]="addForm" (ngSubmit)="login()">
  <div>
    <h1>Login</h1>
  </div>
  <div>
    <div>
      <div>
        Pseudo
      </div>
      <input type="text" id="pseudo_login" class="form-control" formControlName="pseudo">
    </div>
    <div>
      <div>
        Password
      </div>
      <input type="password" id="password_login" class="form-control" formControlName="password">
    </div>
      <button class="btn btn-success" [disabled]="addForm.invalid" type="submit">Ajouter</button>
  </div>
</form>
{{ doneMessage }}