<form [formGroup]="addForm" (ngSubmit)="addHero()">
  <div>
    <h1>Créer un héros</h1>
  </div>
  <div>
    <div>
      <div>
        Pseudo
      </div>
      <input type="text" id="pseudo_hero" class="form-control" formControlName="pseudo">
    </div>
    <div>
      <div>
        Hero Class
      </div>
      <select class="form-control" id="status" formControlName="hero_class">
        <option value="Archer">Archer</option>
        <option value="Mage">Mage</option>
      </select>
    </div>
      <button class="btn btn-success" [disabled]="addForm.invalid" type="submit">Ajouter</button>
  </div>
</form>
{{ doneMessage }}