html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    min-width: 320px;
}

.container{
    height: 100%;
    width: 100%;
}