<div class="container" (mouseover)="mousePos($event)" (mouseenter)="hover = true" (mouseleave)="hover = false" [ngStyle]="{'background-color': item?.rarity_color}">
    <div *ngIf="item?.id == null">
        Pas d'item sur ce slot
      </div>
    {{ item?.name }}
</div>
<div *ngIf="hover" class="item_{{ item?.id_decoder }}" [ngStyle]="{'position': 'absolute',
'color':'white',
'background-color': 'black',
'left': mouseX,
'top': mouseY}">
    {{ item?.complete_item }}
    <ul>
      <li>Strength: {{ item?.STR }}</li>
      <li>Stamina: {{ item?.STA }}</li>
      <li>Wisdom: {{ item?.WIS }}</li>
      <li>Intelligence: {{ item?.INT }}</li>
      <li>Luck: {{item?.LUC }}</li>
      <li>Agility: {{ item?.AGI }}</li>
    </ul>
  </div>
