.container{
    width: 100%;
    height: 100%;
}

:host {
    font-size: 10px;
    border: 1px solid black;
    display: flex;
    width: 64px;
    height: 64px;
    margin: 5px;
    // &.item1{
    //     position: absolute;
    // }
}

// .item_1 , .item_2 ,.item_3, .item_4, .item_5, .item_6, .item_7, .item_8 ,.item_9 ,.item_10, .item_11, .item_12, .item_13 {
// }
