<div id="container">
    <div *ngIf="cell?.state == 'nothing' && hasBeenLooted == 0">
        Nothing
        <button (click)="loot('nothing')" [disabled]="!isClicked">Loot</button>
        <div class="line">
            <img src="./assets/game/{{ hero.hero_class }}_{{spriteHero}}" [@walkHero]='state' (@walkHero.done)="doneAnim($event)"
                (@walkHero.start)="startAnim($event)">
            <img class="chest" src="./assets/game/{{spriteChest}}" [@chestLoop]='state' (@chestLoop.done)="doneAnim($event)"
                (@chestLoop.start)="startAnim($event)">
        </div>
        <div class="looted_item" [@PrintItem]='state' [ngStyle]="{'background-color': generatedItem?.rarity_color}"
            (@PrintItem.done)="doneAnim($event)" (@PrintItem.start)="startAnim($event)">
            {{ generatedItem?.complete_item }}
            <ul>
                <li>Strength: {{ generatedItem?.STR }} <span [ngStyle]="{'color': diffStats?.signSTR == 1 ? 'green' : 'red' }">{{diffStats?.STR}}</span></li>
                <li>Stamina: {{ generatedItem?.STA }} <span [ngStyle]="{'color': diffStats?.signSTA == 1 ? 'green' : 'red' }">{{diffStats?.STA}}</span></li>
                <li>Wisdom: {{ generatedItem?.WIS }} <span [ngStyle]="{'color': diffStats?.signWIS == 1 ? 'green' : 'red' }">{{diffStats?.WIS}}</span></li>
                <li>Intelligence: {{ generatedItem?.INT }} <span [ngStyle]="{'color': diffStats?.signINT == 1 ? 'green' : 'red' }">{{diffStats?.INT}}</span></li>
                <li>Luck: {{generatedItem?.LUC }} <span [ngStyle]="{'color': diffStats?.signLUC == 1 ? 'green' : 'red' }">{{diffStats?.LUC}}</span></li>
                <li>Agility: {{ generatedItem?.AGI }} <span [ngStyle]="{'color': diffStats?.signAGI == 1 ? 'green' : 'red' }">{{diffStats?.AGI}}</span></li>
            </ul>
            <button (click)="throw()" [disabled]="itemAction == 0">Throw it away !</button>
            <button (click)="looting(generatedItem)" [disabled]="itemAction == 0">Keep It !</button>
        </div>
    </div>
    <div *ngIf="cell?.state == 'fight' && hasBeenLooted == 0">
        Fight
        <button (click)="loot('fight')" [disabled]="!isClicked">Loot</button>
        <div class="line">
            <img src="./assets/game/{{ hero.hero_class }}_{{spriteHero}}" [@walkHero]='state' (@walkHero.done)="doneAnim($event)"
                (@walkHero.start)="startAnim($event)" #myHero>
            <img class="chest" src="./assets/game/{{spriteChest}}" [@chestLoop]='state' (@chestLoop.done)="doneAnim($event)"
                (@chestLoop.start)="startAnim($event)">
            <img src="./assets/game/Spell1_{{ hero.hero_class }}_right.png" [@Spellthrow]="{value : state, params: {heroPos : heroPos, monsterPos : monsterPos}}"
                (@Spellthrow.done)="doneAnim($event)" (@Spellthrow.start)="startAnim($event)">
            <img src="./assets/game/Explosion_death_Monster.gif"  [@DeathLoop]="{value : state, params: {monsterPos : monsterPos}}"
                (@DeathLoop.done)="doneAnim($event)" (@DeathLoop.start)="startAnim($event)">
            <img src="./assets/game/Monster_{{ monster.action }}_{{ monster.color }}_{{ monster.direction }}.{{ monster.extension }}"
                [@MonsterWalk]="state" (@MonsterWalk.done)="doneAnim($event)" (@MonsterWalk.start)="startAnim($event)"
                #myMonster>
        </div>
        <div class="looted_item" [@PrintItem]='state' [ngStyle]="{'background-color': generatedItem?.rarity_color}"
            (@PrintItem.done)="doneAnim($event)" (@PrintItem.start)="startAnim($event)">
            {{ generatedItem?.complete_item }}
            <ul>
                <li>Strength: {{ generatedItem?.STR }} <span [ngStyle]="{'color': diffStats?.signSTR == 1 ? 'green' : 'red' }">{{diffStats?.STR}}</span></li>
                <li>Stamina: {{ generatedItem?.STA }} <span [ngStyle]="{'color': diffStats?.signSTA == 1 ? 'green' : 'red' }">{{diffStats?.STA}}</span></li>
                <li>Wisdom: {{ generatedItem?.WIS }} <span [ngStyle]="{'color': diffStats?.signWIS == 1 ? 'green' : 'red' }">{{diffStats?.WIS}}</span></li>
                <li>Intelligence: {{ generatedItem?.INT }} <span [ngStyle]="{'color': diffStats?.signINT == 1 ? 'green' : 'red' }">{{diffStats?.INT}}</span></li>
                <li>Luck: {{generatedItem?.LUC }} <span [ngStyle]="{'color': diffStats?.signLUC == 1 ? 'green' : 'red' }">{{diffStats?.LUC}}</span></li>
                <li>Agility: {{ generatedItem?.AGI }} <span [ngStyle]="{'color': diffStats?.signAGI == 1 ? 'green' : 'red' }">{{diffStats?.AGI}}</span></li>
            </ul>
            <button (click)="throw()" [disabled]="itemAction == 0">Throw it away !</button>
            <button (click)="looting(generatedItem)" [disabled]="itemAction == 0">Keep It !</button>
        </div>
    </div>
    <div *ngIf="hasBeenLooted == 1">
        <img src="./assets/game/{{spriteChest}}">
        Déja Loot :)
    </div>
</div>