<form [formGroup]="addForm" (ngSubmit)="register()">
  <div>
    <h1>Register</h1>
  </div>
  <div>
  <div>
    <div>
      Pseudo
    </div>
    <input type="text" id="pseudo_register" class="form-control" formControlName="pseudo">
  </div>
  <div>
    <div>
      Password
    </div>
    <input type="password" id="password_register" class="form-control" formControlName="password">
  </div>
  <div>
    <div>
    Validez à nouveau votre mot de passe
    </div>
    <input type="password" id="re_password_register" class="form-control" formControlName="re_password">
  </div>
    <button class="btn btn-success" [disabled]="addForm.invalid" type="submit">Ajouter</button>
  </div>
</form>
{{ doneMessage }}