.gamepad{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.upper_gamepad, .lower_gamepad{
    display: flex;
    justify-content: center;
}

.middle_gamepad{
    display: flex;
    justify-content: space-between;
}

:host{
    width: 100%;
}

.hero_info{
    width: 50%;
}

.xp_container, .life_container, .res_container{
    width: 80%;
    height: 25px;
    background: black;
    color:white;
    position: relative;
    z-index: 5;
}

.xp{

    height: 25px;
    background: green;
    position: absolute;
    z-index:  1;
}

.life{

    height: 25px;
    background: red;
    position: absolute;
    z-index: 2 ;
}

.ressource{

    height: 25px;
    background: blue;
    position: absolute;
    z-index: 3 ;
}

.advancement{
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4 ;
}
