<div class="gamepad">
  <div class="upper_gamepad">
    <button (click)="moveHero(0,-1)" [disabled]="!isClicked">Haut</button>
  </div>
  <div class="middle_gamepad">
    <button (click)="moveHero(-1,0)" [disabled]="!isClicked">Gauche</button>
    <button (click)="moveHero(1,0)" [disabled]="!isClicked">Droite</button>
  </div>
  <div class="lower_gamepad">
    <button (click)="moveHero(0,1)" [disabled]="!isClicked">Bas</button>
  </div>
  {{error}}
</div>
<div class="hero_info" [ngStyle]="{'background-color': 'black','color':'white'}">
  <img src="../../assets/game/{{ hero.hero_class }}_stand_right.png" >
  {{ hero.pseudo }} {{ hero.hero_class }} :
  <ul>
    <li [ngStyle]="{'color': 'red'}">Strength: {{ statSum('STR') }}</li>
    <li [ngStyle]="{'color': 'green'}">Stamina: {{ statSum('STA') }}</li>
    <li [ngStyle]="{'color': 'blue'}">Wisdom: {{ statSum('WIS') }}</li>
    <li [ngStyle]="{'color': 'purple'}">Intelligence: {{ statSum('INT') }}</li>
    <li [ngStyle]="{'color': 'yellow'}">Luck: {{ statSum('LUC') }}</li>
    <li [ngStyle]="{'color': 'orange'}">Agility: {{ statSum('AGI') }}</li>
  </ul>
</div>
<div class="life_container">

    <div class="life" [ngStyle]="{'width': lifeToPercentage(hero)}">
    </div>
    <span class="advancement">
        {{ hero.health }}/100
    </span>
</div>
<div class="res_container">
    <div class="ressource" [ngStyle]="{'width': ressourceToPercentage(hero)}">
    </div>
    <span class="advancement">
        {{hero.ressource}}/100
    </span>
</div>
<div class="xp_container">

    <div class="xp" [ngStyle]="{'width': xpToPercentage(hero)}">

    </div>
    <span class="advancement">
        {{hero.current_xp}}/{{hero.total_xp}}
    </span>
</div>

